openapi: 3.0.1
info:
  title: IDF PAAM
  description: IDF Profile and Audit Management
  contact:
    email: rob.breault@identityfusion.com
  version: 1.0.2
servers:
  - url: https://admin.idfcloud.net/
tags:
  - name: Client Config - Initial
    description: Client Configuration Endpoint
  - name: Client Config - Initial (Admin Only)
    description: Client Configuration Admin Endpoint
  - name: audit
    description: Audit Endpoint
paths:
  /config/init:
    get:
      tags:
        - Client Config - Initial
      summary: Find config based on header hostname
      description: Returns a single config
      operationId: getConfigByHostname
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConfigInit"
        404:
          description: Object not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error404"
        default:
          description: Operation Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      security:
        - client_oauth2:
            - read
    put:
      tags:
        - Client Config - Initial
      summary: Update an existing config based on hostname
      operationId: updateConfigByHostname
      requestBody:
        description: Config object that needs to be added
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ConfigInit"
        required: true
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConfigInit"
        404:
          description: Object not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error404"
        default:
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      security:
        - client_oauth2:
            - write
            - read
      x-codegen-request-body-name: body
    post:
      tags:
        - Client Config - Initial (Admin Only)
      summary: Create a new client config (ADMIN ONLY)
      operationId: createClient
      requestBody:
        description: Client config object that needs to be added
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ConfigInit"
        required: true
      responses:
        201:
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConfigInit"
        default:
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      security:
        - admin_oauth2:
            - read
            - write
      x-codegen-request-body-name: body
    patch:
      tags:
        - Client Config - Initial
      summary: Update an existing config based on hostname
      operationId: updateConfigByHostname
      requestBody:
        description: Patch object
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PatchObject"
        required: true
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConfigInit"
        404:
          description: Object not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error404"
        default:
          description: Operation Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      security:
        - admin_oauth2:
            - write
            - read
      x-codegen-request-body-name: body
  /config/init/{configId}:
    get:
      tags:
        - Client Config - Initial (Admin Only)
      summary: Find config by ID (ADMIN ONLY)
      description: Returns a single config
      operationId: getConfigById
      parameters:
        - name: configId
          in: path
          description: ID of config to return
          required: true
          schema:
            type: string
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConfigInit"
        404:
          description: Object not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error404"
        default:
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      security:
        - admin_oauth2:
            - write
            - read
    put:
      tags:
        - Client Config - Initial (Admin Only)
      summary: Updates a config in the store (ADMIN ONLY)
      operationId: updateConfig
      parameters:
        - name: configId
          in: path
          description: ID of config to return
          required: true
          schema:
            type: string
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConfigInit"
        404:
          description: Object not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error404"
        default:
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      security:
        - client_oauth2:
            - write
            - read
    patch:
      tags:
        - Client Config - Initial (Admin Only)
      summary: Updates a config in the store (ADMIN ONLY)
      operationId: patchConfig
      parameters:
        - name: configId
          in: path
          description: ID of config to return
          required: true
          schema:
            type: string
      requestBody:
        description: Patch object
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PatchObject"
        required: true
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConfigInit"
        404:
          description: Object not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error404"
        default:
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      security:
        - client_oauth2:
            - write
            - read
      x-codegen-request-body-name: body
components:
  schemas:
    PatchObject:
      type: array
      maxItems: 99
      items:
        required:
          - field
          - operation
          - value
        type: object
        properties:
          operation:
            type: string
            enum:
              - "add"
              - "copy"
              - "increment"
              - "move"
              - "remove"
              - "replace"
              - "transform"
            example: "replace"
          field:
            type: string
            example: "propertyName"
          value:
            type: string
            example: "newValue"
        additionalProperties: false
      additionalProperties: false
    ConfigInit:
      required:
        - baseUrl
        - client
        - client_id
        - nonsecure
        - secure
      type: object
      properties:
        client_id:
          pattern: ^[{]?[0-9a-fA-F]{8}-([0-9a-fA-F]{4}-){3}[0-9a-fA-F]{12}[}]?$
          type: string
          example: "77018695-3d4f-43a2-8ac6-4311db0a3d0a"
        client:
          maxLength: 32
          pattern: ^[A-Za-z0-9]*$
          type: string
          example: "clientname"
        baseUrl:
          maxLength: 64
          pattern: ^((http|https):\/\/)?[\w-]+(\.[\w-]+)+([\w.,@?^=%&amp;:\/~+#-]*[\w@?^=%&amp;\/~+#-])*$
          type: string
          example: "https://clientname.idfcloud.net"
        secure:
          required:
            - client
            - license
          type: object
          properties:
            client:
              required:
                - displayName
                - support
              type: object
              properties:
                displayName:
                  maxLength: 64
                  pattern: ^[A-Za-z0-9._ :-]*$
                  type: string
                  example: "Formal Client Name"
                support:
                  maxLength: 64
                  pattern: ^[a-zA-Z0-9@._ -]*$
                  type: string
                  example: "support@client.com"
              additionalProperties: false
            license:
              required:
                - audit
                - cpm
                - csr
              type: object
              properties:
                cpm:
                  required:
                    - enabled
                    - name
                  type: object
                  properties:
                    name:
                      maxLength: 64
                      pattern: ^[A-Za-z0-9._ :-]*$
                      type: string
                      example: "Customer Profile Management"
                    enabled:
                      type: boolean
                      example: true
                    expiration:
                      maxLength: 32
                      pattern: ^\d{4}(.\d{2}){2}(\s|T)(\d{2}.){2}\d{2}Z$
                      type: string
                      example: "2025‐01‐12T19:38:53Z"
                  additionalProperties: false
                csr:
                  required:
                    - enabled
                    - name
                  type: object
                  properties:
                    name:
                      maxLength: 64
                      pattern: ^[A-Za-z0-9._ :-]*$
                      type: string
                      example: "Customer Service Manager"
                    enabled:
                      type: boolean
                      example: true
                    expiration:
                      maxLength: 32
                      pattern: ^\d{4}(.\d{2}){2}(\s|T)(\d{2}.){2}\d{2}Z$
                      type: string
                      example: "2025‐01‐12T19:38:53Z"
                  additionalProperties: false
                audit:
                  required:
                    - enabled
                    - name
                  type: object
                  properties:
                    name:
                      maxLength: 64
                      pattern: ^[A-Za-z0-9._ :-]*$
                      type: string
                      example: "Audit Management"
                    enabled:
                      type: boolean
                      example: true
                    expiration:
                      maxLength: 32
                      pattern: ^\d{4}(.\d{2}){2}(\s|T)(\d{2}.){2}\d{2}Z$
                      type: string
                      example: "2025‐01‐12T19:38:53Z"
                  additionalProperties: false
              additionalProperties: false
          additionalProperties: false
        nonsecure:
          type: object
          properties:
            access:
              required:
                - baseUrl
                - name
                - timeout
              type: object
              properties:
                name:
                  maxLength: 64
                  pattern: ^[A-Za-z0-9 @.,_()-]*$
                  type: string
                  example: "Access Management (AM)"
                baseUrl:
                  maxLength: 128
                  pattern: ^((http|https):\/\/)?[\w-]+(\.[\w-]+)+([\w.,@?^=%&amp;:\/~+#-]*[\w@?^=%&amp;\/~+#-])*$
                  type: string
                  example: "https://openam-identityfusion-demo.forgeblocks.com/am"
                timeout:
                  maximum: 30000
                  minimum: 1000
                  type: integer
                  format: int32
                  example: 5000
              additionalProperties: false
            apps:
              type: object
              properties:
                cpm:
                  required:
                    - client_id
                    - realm
                    - redirectUrl
                    - scope
                    - tree
                  type: object
                  properties:
                    redirectUrl:
                      maxLength: 32
                      pattern: ^[A-Za-z0-9./-]*$
                      type: string
                      example: "/cpm"
                    realm:
                      maxLength: 32
                      pattern: ^[a-zA-Z0-9_ ]*$
                      type: string
                      example: "bravo"
                    client_id:
                      maxLength: 32
                      pattern: ^[A-Za-z0-9._-]*$
                      type: string
                      example: "idf_cpmportal"
                    scope:
                      maxLength: 32
                      pattern: ^[A-Za-z0-9._:*-]*$
                      type: string
                      example: "fr:idm:*"
                    tree:
                      maxLength: 32
                      pattern: ^[a-zA-Z0-9_ ]*$
                      type: string
                      example: "sdkAuthenticationTree"
                  additionalProperties: false
                csr:
                  required:
                    - client_id
                    - realm
                    - redirectUrl
                    - scope
                    - tree
                  type: object
                  properties:
                    redirectUrl:
                      maxLength: 32
                      pattern: ^[A-Za-z0-9./-]*$
                      type: string
                      example: "/csr"
                    realm:
                      maxLength: 32
                      pattern: ^[a-zA-Z0-9_ ]*$
                      type: string
                      example: "alpha"
                    client_id:
                      maxLength: 32
                      pattern: ^[a-zA-Z0-9_ ]*$
                      type: string
                      example: "idf_csrportal"
                    scope:
                      maxLength: 32
                      pattern: ^[A-Za-z0-9._:*-]*$
                      type: string
                      example: "fr:idm:*"
                    tree:
                      maxLength: 32
                      pattern: ^[a-zA-Z0-9_ ]*$
                      type: string
                      example: "sdkAuthenticationTree"
                  additionalProperties: false
                audit:
                  required:
                    - client_id
                    - realm
                    - redirectUrl
                    - scope
                    - tree
                  type: object
                  properties:
                    redirectUrl:
                      maxLength: 32
                      pattern: ^[A-Za-z0-9./-]*$
                      type: string
                      example: "/audit"
                    realm:
                      maxLength: 32
                      pattern: ^[a-zA-Z0-9_ ]*$
                      type: string
                      example: "alpha"
                    client_id:
                      maxLength: 32
                      pattern: ^[a-zA-Z0-9_ ]*$
                      type: string
                      example: "idf_auditportal"
                    scope:
                      maxLength: 32
                      pattern: ^[A-Za-z0-9._:*-]*$
                      type: string
                      example: "fr:idm:*"
                    tree:
                      maxLength: 32
                      pattern: ^[a-zA-Z0-9_ ]*$
                      type: string
                      example: "sdkAuthenticationTree"
                  additionalProperties: false
              additionalProperties: false
            identity:
              type: object
              properties:
                name:
                  maxLength: 64
                  pattern: ^[A-Za-z0-9 @.,_()-]*$
                  type: string
                  example: "Identity Management (IDM)"
                baseUrl:
                  maxLength: 128
                  pattern: ^((http|https):\/\/)?[\w-]+(\.[\w-]+)+([\w.,@?^=%&amp;:\/~+#-]*[\w@?^=%&amp;\/~+#-])*$
                  type: string
                  example: "https://openam-identityfusion-demo.forgeblocks.com/openam"
                timeout:
                  maximum: 30000
                  minimum: 1000
                  type: integer
                  format: int32
                  example: 5000
                themePath:
                  maxLength: 128
                  pattern: ^[A-Za-z0-9.,/?_=-]*$
                  type: string
                  example: "/config/ui/themerealm"
                langPath:
                  maxLength: 128
                  pattern: ^[A-Za-z0-9.,/?_=-]*$
                  type: string
                  example: "/config/uilocale/en?_fields=login,shared"
              additionalProperties: false
          additionalProperties: false
      additionalProperties: false
    Error404:
      type: object
      properties:
        code:
          type: integer
          example: 400
        message:
          maxLength: 164
          pattern: ^[a-zA-Z0-9_ ]*$
          type: string
          example: "Object Not Found"
        detail:
          maxLength: 256
          pattern: ^[a-zA-Z0-9_ ]*$
          type: string
          example: "The requested object does not exist"
      additionalProperties: false
    Error:
      type: object
      properties:
        code:
          type: integer
          example: 400
        message:
          maxLength: 164
          pattern: ^[a-zA-Z0-9_ ]*$
          type: string
          example: "Message Error"
        detail:
          maxLength: 256
          pattern: ^[a-zA-Z0-9_ ]*$
          type: string
          example: "Message Detail"
      additionalProperties: false
  securitySchemes:
    client_oauth2:
      type: oauth2
      description: Client OAuth 2.0 Authorization Server
      flows:
        authorizationCode:
          authorizationUrl: https://example.com/oauth/authorize
          tokenUrl: https://example.com/oauth/token
          scopes:
            read: read objects in your account
            write: modify objects in your account
    admin_oauth2:
      type: oauth2
      description: Admin OAuth 2.0 Authorization Server
      flows:
        authorizationCode:
          authorizationUrl: https://example.com/oauth/authorize
          tokenUrl: https://example.com/oauth/token
          scopes:
            read: read objects in all accounts
            write: modify objects in all accounts
