openapi: 3.0.1
info:
  title: IDF PAAM
  description: IDF Profile and Audit Management
  contact:
    email: rob.breault@identityfusion.com
  version: 1.0.2
servers:
  - url: https://admin.idfcloud.net/
tags:
  - name: Client Config
    description: Client Configuration Endpoint
  - name: Client Config (Admin Only)
    description: Client Configuration Init Admin Endpoint
  - name: Audit
    description: Audit Endpoint
paths:
  /config:
    get:
      tags:
        - Client Config (Admin Only)
      summary: Find all configs (ADMIN ONLY)
      description: Returns all configs
      operationId: getAllConfigByIdAdmin
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListConfigs"
        404:
          description: Object not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error404"
        default:
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      security:
        - admin_oauth2:
            - read
  /config/{config_type}:
    get:
      tags:
        - Client Config
      summary: Find config based on header hostname
      description: Returns a single config
      operationId: getConfigByHostname
      parameters:
        - name: config_type
          in: path
          description: Config type
          required: true
          schema:
            $ref: "#/components/schemas/ConfigType"
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConfigInit"
        404:
          description: Object not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error404"
        default:
          description: Operation Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      security:
        - client_oauth2:
            - read
    put:
      tags:
        - Client Config
      summary: Update an existing config based on hostname
      operationId: putConfigByHostname
      parameters:
        - name: config_type
          in: path
          description: Config type
          required: true
          schema:
            $ref: "#/components/schemas/ConfigType"
      requestBody:
        description: Config object that needs to be added
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ConfigInit"
        required: true
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConfigInit"
        404:
          description: Object not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error404"
        default:
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      security:
        - client_oauth2:
            - write
            - read
      x-codegen-request-body-name: body
    post:
      tags:
        - Client Config (Admin Only)
      summary: Create a new client config (ADMIN ONLY)
      operationId: postCreateClientAdmin
      parameters:
        - name: config_type
          in: path
          description: Config type
          required: true
          schema:
            $ref: "#/components/schemas/ConfigType"
      requestBody:
        description: Client config object that needs to be added
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ConfigInit"
        required: true
      responses:
        201:
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConfigInit"
        default:
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      security:
        - admin_oauth2:
            - read
            - write
      x-codegen-request-body-name: body
    patch:
      tags:
        - Client Config
      summary: Update an existing config based on hostname
      operationId: patchConfigByHostname
      parameters:
        - name: config_type
          in: path
          description: Config type
          required: true
          schema:
            $ref: "#/components/schemas/ConfigType"
      requestBody:
        description: Patch object
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PatchObject"
        required: true
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConfigInit"
        404:
          description: Object not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error404"
        default:
          description: Operation Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      security:
        - admin_oauth2:
            - write
            - read
      x-codegen-request-body-name: body
  /config/{config_type}/{client_id}:
    get:
      tags:
        - Client Config (Admin Only)
      summary: Find config by ID (ADMIN ONLY)
      description: Returns a single config
      operationId: getConfigByIdAdmin
      parameters:
        - name: config_type
          in: path
          description: Config type
          required: true
          schema:
            $ref: "#/components/schemas/ConfigType"
        - name: client_id
          in: path
          description: ID of config to return
          required: true
          schema:
            $ref: "#/components/schemas/ClientId"
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConfigInit"
        404:
          description: Object not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error404"
        default:
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      security:
        - admin_oauth2:
            - write
            - read
    put:
      tags:
        - Client Config (Admin Only)
      summary: Updates a config in the store (ADMIN ONLY)
      operationId: putConfigByIdAdmin
      parameters:
        - name: config_type
          in: path
          description: Config type
          required: true
          schema:
            $ref: "#/components/schemas/ConfigType"
        - name: client_id
          in: path
          description: ID of config to return
          required: true
          schema:
            $ref: "#/components/schemas/ClientId"
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConfigInit"
        404:
          description: Object not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error404"
        default:
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      security:
        - client_oauth2:
            - write
            - read
    patch:
      tags:
        - Client Config (Admin Only)
      summary: Updates a config in the store (ADMIN ONLY)
      operationId: patchConfigByIdAdmin
      parameters:
        - name: config_type
          in: path
          description: Config type
          required: true
          schema:
            $ref: "#/components/schemas/ConfigType"
        - name: client_id
          in: path
          description: ID of config to return
          required: true
          schema:
            $ref: "#/components/schemas/ClientId"
      requestBody:
        description: Patch object
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PatchObject"
        required: true
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConfigInit"
        404:
          description: Object not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error404"
        default:
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      security:
        - client_oauth2:
            - write
            - read
      x-codegen-request-body-name: body
components:
  schemas:
    ClientId:
      maxLength: 36
      type: string
      pattern: ^[{]?[0-9a-fA-F]{8}-([0-9a-fA-F]{4}-){3}[0-9a-fA-F]{12}[}]?$
      example: "77018695-3d4f-43a2-8ac6-4311db0a3d0a"
    ClientName:
      maxLength: 32
      pattern: ^[A-Za-z0-9]*$
      type: string
      example: "clientname"
    ConfigType:
      type: string
      example: "init"
      enum:
        - "init"
        - "audit"
        - "schema"
        - "lang"
        - "theme"
    ConfigTypes:
      minItems: 1
      maxItems: 5
      type: array
      items:
        $ref: "#/components/schemas/ConfigType"
    Application:
      required:
        - app_client_id
        - realm
        - redirectUrl
        - scope
        - tree
        - roles
      type: object
      properties:
        redirectUrl:
          maxLength: 32
          pattern: ^[A-Za-z0-9./-]*$
          type: string
          example: "/app"
        realm:
          maxLength: 32
          pattern: ^[a-zA-Z0-9_ ]*$
          type: string
          example: "realm"
        app_client_id:
          maxLength: 32
          pattern: ^[A-Za-z0-9._-]*$
          type: string
          example: "app_portal_name"
        scope:
          maxLength: 32
          pattern: ^[A-Za-z0-9._:*-]*$
          type: string
          example: "fr:idm:*"
        tree:
          maxLength: 32
          pattern: ^[a-zA-Z0-9_ ]*$
          type: string
          example: "sdkAuthenticationTree"
        roles:
          type: array
          minItems: 1
          maxItems: 99
          items:
            maxLength: 64
            pattern: ^[A-Za-z0-9._/-]*$
            type: string
            example: "role-name"
      additionalProperties: false
    License:
      required:
        - enabled
        - name
      type: object
      properties:
        name:
          maxLength: 64
          pattern: ^[A-Za-z0-9._ :-]*$
          type: string
          example: "Application Name"
        enabled:
          type: boolean
          example: true
        expiration:
          maxLength: 32
          pattern: ^\d{4}(.\d{2}){2}(\s|T)(\d{2}.){2}\d{2}Z$
          type: string
          example: "2025‐01‐12T19:38:53Z"
      additionalProperties: false
    PatchObject:
      type: array
      maxItems: 99
      items:
        required:
          - field
          - operation
          - value
        type: object
        properties:
          operation:
            type: string
            enum:
              - "add"
              - "copy"
              - "increment"
              - "move"
              - "remove"
              - "replace"
              - "transform"
            example: "replace"
          field:
            maxLength: 64
            type: string
            pattern: ^[A-Za-z0-9./-]*$
            example: "fieldName"
          value:
            maxLength: 256
            type: string
            pattern: ^[[A-Za-z0-9]*$
            example: "fieldValue"
        additionalProperties: false
    ListConfigs:
      minItems: 0
      maxItems: 999
      type: array
      items:
        required:
          - client
          - client_id
          - config_types
        type: object
        properties:
          client:
            $ref: "#/components/schemas/ClientName"
          client_id:
            $ref: "#/components/schemas/ClientId"
          config_types:
            $ref: "#/components/schemas/ConfigTypes"
        additionalProperties: false
    ConfigInit:
      required:
        - baseUrl
        - client
        - client_id
        - nonsecure
        - secure
      type: object
      properties:
        client_id:
          $ref: "#/components/schemas/ClientId"
        client:
          $ref: "#/components/schemas/ClientName"
        baseUrl:
          maxLength: 64
          pattern: ^((http|https):\/\/)?[\w-]+(\.[\w-]+)+([\w.,@?^=%&amp;:\/~+#-]*[\w@?^=%&amp;\/~+#-])*$
          type: string
          example: "https://clientname.idfcloud.net"
          readOnly: true
        secure:
          required:
            - client
            - license
          type: object
          properties:
            client:
              required:
                - displayName
                - support
              type: object
              properties:
                displayName:
                  maxLength: 64
                  pattern: ^[A-Za-z0-9._ :-]*$
                  type: string
                  example: "Formal Client Name"
                support:
                  maxLength: 64
                  pattern: ^[a-zA-Z0-9@._ -]*$
                  type: string
                  example: "support@client.com"
              additionalProperties: false
            license:
              required:
                - audit
                - cpm
                - csr
              type: object
              properties:
                cpm:
                  $ref: "#/components/schemas/License"
                csr:
                  $ref: "#/components/schemas/License"
                audit:
                  $ref: "#/components/schemas/License"
              additionalProperties: false
          additionalProperties: false
        nonsecure:
          type: object
          properties:
            access:
              required:
                - baseUrl
                - name
                - timeout
              type: object
              properties:
                name:
                  maxLength: 64
                  pattern: ^[A-Za-z0-9 @.,_()-]*$
                  type: string
                  example: "Access Management (AM)"
                baseUrl:
                  maxLength: 128
                  pattern: ^((http|https):\/\/)?[\w-]+(\.[\w-]+)+([\w.,@?^=%&amp;:\/~+#-]*[\w@?^=%&amp;\/~+#-])*$
                  type: string
                  example: "https://openam-identityfusion-demo.forgeblocks.com/am"
                timeout:
                  maximum: 30000
                  minimum: 1000
                  type: integer
                  format: int32
                  example: 5000
              additionalProperties: false
            apps:
              type: object
              properties:
                cpm:
                  $ref: "#/components/schemas/Application"
                csr:
                  $ref: "#/components/schemas/Application"
                audit:
                  $ref: "#/components/schemas/Application"
              additionalProperties: false
            identity:
              type: object
              properties:
                name:
                  maxLength: 64
                  pattern: ^[A-Za-z0-9 @.,_()-]*$
                  type: string
                  example: "Identity Management (IDM)"
                baseUrl:
                  maxLength: 128
                  pattern: ^((http|https):\/\/)?[\w-]+(\.[\w-]+)+([\w.,@?^=%&amp;:\/~+#-]*[\w@?^=%&amp;\/~+#-])*$
                  type: string
                  example: "https://openam-identityfusion-demo.forgeblocks.com/openam"
                timeout:
                  maximum: 30000
                  minimum: 1000
                  type: integer
                  format: int32
                  example: 5000
                themePath:
                  maxLength: 128
                  pattern: ^[A-Za-z0-9.,/?_=-]*$
                  type: string
                  example: "/config/ui/themerealm"
                langPath:
                  maxLength: 128
                  pattern: ^[A-Za-z0-9.,/?_=-]*$
                  type: string
                  example: "/config/uilocale/en?_fields=login,shared"
              additionalProperties: false
          additionalProperties: false
      additionalProperties: false
    Error404:
      type: object
      properties:
        code:
          type: integer
          example: 400
        message:
          maxLength: 164
          pattern: ^[a-zA-Z0-9_ ]*$
          type: string
          example: "Object Not Found"
        detail:
          maxLength: 256
          pattern: ^[a-zA-Z0-9_ ]*$
          type: string
          example: "The requested object does not exist"
      additionalProperties: false
    Error:
      type: object
      properties:
        code:
          type: integer
          example: 400
        message:
          maxLength: 164
          pattern: ^[a-zA-Z0-9_ ]*$
          type: string
          example: "Message Error"
        detail:
          maxLength: 256
          pattern: ^[a-zA-Z0-9_ ]*$
          type: string
          example: "Message Detail"
      additionalProperties: false
  securitySchemes:
    client_oauth2:
      type: oauth2
      description: Client OAuth 2.0 Authorization Server
      flows:
        authorizationCode:
          authorizationUrl: https://example.com/oauth/authorize
          tokenUrl: https://example.com/oauth/token
          scopes:
            read: read objects in your account
            write: modify objects in your account
    admin_oauth2:
      type: oauth2
      description: Admin OAuth 2.0 Authorization Server
      flows:
        authorizationCode:
          authorizationUrl: https://example.com/oauth/authorize
          tokenUrl: https://example.com/oauth/token
          scopes:
            read: read objects in all accounts
            write: modify objects in all accounts
